@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  src: local(
      "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf"
    )
    format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  src: local(
      "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf"
    )
    format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  src: local(
      "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf"
    )
    format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}

@layer utilities {
  .cont {
    @apply mx-auto flex max-w-[1190px] px-4;
  }
}
