@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: local(
        "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf"
      )
      format("truetype"),
    local(
        "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf"
      )
      format("truetype"),
    local(
        "../src/assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf"
      )
      format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@layer utilities {
  .cont {
    @apply mx-auto px-4 flex  max-w-[1190px];
  }
}
